#root {
  margin-top: 70px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.full-width {
  width: 100%;
}

.center {
  margin: auto;
}

.big-img {
  width: 100%;
}

.margin-top {
  margin-top: 18px;
}

.margin-top-sm {
  margin-top: 10px;
}

.center-headers > th {
  text-align: center;
}

.align-right td {
  text-align: right;
}

.align-right th {
  text-align: center;
}

.larger {
  font-size: larger;
}

.large {
  font-size: large;
}

.x-large {
  font-size: x-large;
}

.xx-large {
  font-size: xx-large;
}

.solid-line {
  border-top-color: lightgray;
}

.align-left {
  text-align: left;
}

.red {
  color: red;
}

.green {
  color: green;
}

.acc-bal {
  margin-top: 11px;
  margin-bottom: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-elem {
  flex: 1;
  margin-left: 14px;
  margin-right: 14px;
}

.align-bottom {
  margin-top: auto;
}

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

.btn {
  white-space: normal;
}