#root {
  margin-top: 70px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.big-img {
  width: 100%;
}

.margin-top {
  margin-top: 33px;
}

.center-headers > th {
  text-align: center;
}

.align-right td {
  text-align: right;
}

.align-right th {
  text-align: center;
}

.big-vals {
  font-size: large;
}

.xl-vals {
  font-size: xx-large;
}

.solid-line {
  border-top-color: lightgray;
}

.align-left {
  text-align: left;
}