body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.full-width {
  width: 100%;
}

.btn-stock.active {
  color: white;
  background-color: #444444;
  border-color: #444444;
}

.btn-client {
  width: 100%;
  margin-top: 20px;
  text-align: left;
}

.btn-client-img {
  max-width: 60px;
  float: left;
  margin-right: 10px;
}