body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.full-width {
  width: 100%;
}

.btn-stock:not(.active):hover {
  background-color: #e0e0e0 !important;
}

.btn-stock.active {
  color: white;
  text-shadow:
          0 0 3px rgba(0,0,0,0.4),
          0 0 13px rgba(0,0,0,0.1),
          0 0 23px rgba(0,0,0,0.1);
}

.btn-stock.active:hover {
  color: lightgrey;
}

.btn-client {
  width: 100%;
  margin-top: 20px;
  text-align: left;
}

.btn-client-img {
  max-width: 60px;
  float: left;
  margin-right: 10px;
}