body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.stock-list {
  padding-left: 45%;
  text-align: left;
}

.btn-client {
  width: 100%;
  margin-top: 20px;
  text-align: left;
}

.btn-client-img {
  max-width: 60px;
}